**Kardynalność**

In [1]:
# import pakietów
import pandas as pd
import numpy as np

In [3]:
# wczytanie danych
df = pd.read_csv("titanic.txt", delimiter=",")
df.replace("?", np.nan, inplace=True)

In [4]:
# wyświetlenie pierwszych 20 obserwacji
df.head(20)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,NaN,135,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1,1,"Anderson, Mr. Harry",male,48,0,0,19952,26.55,E12,S,3,NaN,"New York, NY"
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1,0,"Andrews, Mr. Thomas Jr",male,39,0,0,112050,0,A36,S,NaN,NaN,"Belfast, NI"
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53,2,0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1,0,"Artagaveytia, Mr. Ramon",male,71,0,0,PC 17609,49.5042,NaN,C,NaN,22,"Montevideo, Uruguay"
10,1,0,"Astor, Col. John Jacob",male,47,1,0,PC 17757,227.525,C62 C64,C,NaN,124,"New York, NY"
11,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18,1,0,PC 17757,227.525,C62 C64,C,4,NaN,"New York, NY"
12,1,1,"Aubart, Mme. Leontine Pauline",female,24,0,0,PC 17477,69.3,B35,C,9,NaN,"Paris, France"
13,1,1,"Barber, Miss. Ellen 'Nellie'",female,26,0,0,19877,78.85,NaN,S,6,NaN,NaN
14,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80,0,0,27042,30,A23,S,B,NaN,"Hessle, Yorks"
15,1,0,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.925,NaN,S,NaN,NaN,"New York, NY"
16,1,0,"Baxter, Mr. Quigg Edmond",male,24,0,1,PC 17558,247.5208,B58 B60,C,NaN,NaN,"Montreal, PQ"
17,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50,0,1,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
18,1,1,"Bazzani, Miss. Albina",female,32,0,0,11813,76.2917,D15,C,8,NaN,NaN
19,1,0,"Beattie, Mr. Thomson",male,36,0,0,13050,75.2417,C6,C,A,NaN,"Winnipeg, MN"

In [5]:
# sprawdzenie kardynalności każdej cechy
for cecha in df.columns:
    ilosc = df[cecha].nunique()
    print(f"Liczba etykiet zmiennej {cecha:10} -> {ilosc}")

Liczba etykiet zmiennej pclass     -> 3
Liczba etykiet zmiennej survived   -> 2
Liczba etykiet zmiennej name       -> 1307
Liczba etykiet zmiennej sex        -> 2
Liczba etykiet zmiennej age        -> 98
Liczba etykiet zmiennej sibsp      -> 7
Liczba etykiet zmiennej parch      -> 8
Liczba etykiet zmiennej ticket     -> 929
Liczba etykiet zmiennej fare       -> 281
Liczba etykiet zmiennej cabin      -> 186
Liczba etykiet zmiennej embarked   -> 3
Liczba etykiet zmiennej boat       -> 27
Liczba etykiet zmiennej body       -> 121
Liczba etykiet zmiennej home.dest  -> 369

In [6]:
# wyświetlenie liczby wszystkich pasażerów
print('Liczba wszystkich pasażerów wynosi: {}'.format(len(df.name)))

Liczba wszystkich pasażerów wynosi: 1309



Wyniki otrzymanie w punkcie 1 oraz 2 świadczą o tym, że zmienne 'pclass', 'survived', 'sex', 'sibsp', 'parch' oraz 'embarked' mają niską kardynalność.

    Zmienna 'survived' ma tylko dwie wartości, więc jest zmienną binarną (przeżył lub nie).
    Zmienna 'pclass' ma tylko trzy wartości (1, 2 oraz 3). Jest to zmienna kategoryczna o niskiej kardynalności, która opisuje klasę biletu, co można połączyć bezpośrednio z zamożnością danego pasażera.
    Zmienne 'sex' oraz 'embarked' mają małą liczbę rodzajów, co powoduje, że dobrze nadawałyby się do zakodowania poprzez One-Hot Encoding.

Z kolei zmienne takie jak 'name', 'ticket', 'fare', 'cabin', 'body', 'home.dest' mają bardzo wysoką kardynalność. Powoduje to, że są one dużo bardziej unikalne dla każdego pasażera. Podczas użycia takich danych w naszym modelu może dojść do overfittingu.

In [7]:
# wyświetlenie unikalnych etykiet dla zmiennej mówiącej o kabinie danego pasażera.
Cabin_label = np.array(df.cabin.unique())
print(Cabin_label)
print(f'\nUnikalnych etykiet dla kabin jest: {len(Cabin_label)}')

['B5' 'C22 C26' 'E12' 'D7' 'A36' 'C101' nan 'C62 C64' 'B35' 'A23'
 'B58 B60' 'D15' 'C6' 'D35' 'C148' 'C97' 'B49' 'C99' 'C52' 'T' 'A31' 'C7'
 'C103' 'D22' 'E33' 'A21' 'B10' 'B4' 'E40' 'B38' 'E24' 'B51 B53 B55'
 'B96 B98' 'C46' 'E31' 'E8' 'B61' 'B77' 'A9' 'C89' 'A14' 'E58' 'E49' 'E52'
 'E45' 'B22' 'B26' 'C85' 'E17' 'B71' 'B20' 'A34' 'C86' 'A16' 'A20' 'A18'
 'C54' 'C45' 'D20' 'A29' 'C95' 'E25' 'C111' 'C23 C25 C27' 'E36' 'D34'
 'D40' 'B39' 'B41' 'B102' 'C123' 'E63' 'C130' 'B86' 'C92' 'A5' 'C51' 'B42'
 'C91' 'C125' 'D10 D12' 'B82 B84' 'E50' 'D33' 'C83' 'B94' 'D49' 'D45'
 'B69' 'B11' 'E46' 'C39' 'B18' 'D11' 'C93' 'B28' 'C49' 'B52 B54 B56' 'E60'
 'C132' 'B37' 'D21' 'D19' 'C124' 'D17' 'B101' 'D28' 'D6' 'D9' 'B80' 'C106'
 'B79' 'C47' 'D30' 'C90' 'E38' 'C78' 'C30' 'C118' 'D36' 'D48' 'D47' 'C105'
 'B36' 'B30' 'D43' 'B24' 'C2' 'C65' 'B73' 'C104' 'C110' 'C50' 'B3' 'A24'
 'A32' 'A11' 'A10' 'B57 B59 B63 B66' 'C28' 'E44' 'A26' 'A6' 'A7' 'C31'
 'A19' 'B45' 'E34' 'B78' 'B50' 'C87' 'C116' 'C55 C57' 'D50' 'E68' 'E67'
 'C126' 'C68' 'C70' 'C53' 'B19' 'D46' 'D37' 'D26' 'C32' 'C80' 'C82' 'C128'
 'E39 E41' 'D' 'F4' 'D56' 'F33' 'E101' 'E77' 'F2' 'D38' 'F' 'F G63'
 'F E57' 'F E46' 'F G73' 'E121' 'F E69' 'E10' 'G6' 'F38']

Unikalnych etykiet dla kabin jest: 187

In [8]:
# redukcja liczby cech dla zmiennej cabin
df["CabinReduced"] = df['cabin'].astype(str).str[0]
# wyświetelnie 20 pierwszych obserwacji dla cabin i nowej zmiennej CabinReduced
print(df[['cabin', 'CabinReduced']].head(20))

      cabin CabinReduced
0        B5            B
1   C22 C26            C
2   C22 C26            C
3   C22 C26            C
4   C22 C26            C
5       E12            E
6        D7            D
7       A36            A
8      C101            C
9       NaN            n
10  C62 C64            C
11  C62 C64            C
12      B35            B
13      NaN            n
14      A23            A
15      NaN            n
16  B58 B60            B
17  B58 B60            B
18      D15            D
19       C6            C

In [9]:
# sprawdzenie kardynalności każdej cechy po utworzeniu nowej zmiennej
for cecha in df.columns:
    ilosc = df[cecha].nunique()
    print(f"Liczba etykiet zmiennej {cecha:10} -> {ilosc}")

Liczba etykiet zmiennej pclass     -> 3
Liczba etykiet zmiennej survived   -> 2
Liczba etykiet zmiennej name       -> 1307
Liczba etykiet zmiennej sex        -> 2
Liczba etykiet zmiennej age        -> 98
Liczba etykiet zmiennej sibsp      -> 7
Liczba etykiet zmiennej parch      -> 8
Liczba etykiet zmiennej ticket     -> 929
Liczba etykiet zmiennej fare       -> 281
Liczba etykiet zmiennej cabin      -> 186
Liczba etykiet zmiennej embarked   -> 3
Liczba etykiet zmiennej boat       -> 27
Liczba etykiet zmiennej body       -> 121
Liczba etykiet zmiennej home.dest  -> 369
Liczba etykiet zmiennej CabinReduced -> 9

In [10]:
# sprawdzenie o ile procent zredukowano liczbę obserwacji
cabin_before = df['cabin'].dropna().astype(str)
cabin_after = df['CabinReduced'].dropna().astype(str)

n_przed = len(np.unique(cabin_before))
n_po = len(np.unique(cabin_after))

procent = (1 - n_po / n_przed) * 100

print(f"Zredukowano kardynalność o {procent:.2f} %.")

Zredukowano kardynalność o 95.16 %.



Oryginalna zmienna cabin ma bardzo dużą kardynalność → 187 różnych wartości, przy czym pełny zapis kabiny zawiera szczegółowe informacje, których model nie jest w stanie efektywnie wykorzystać.

Natomiast pierwsza litera kabiny oznacza pokład i jego położenie, co już może być informacją istotną.

Redukcja tej zmiennej powoduje jedynie mniejszą szczegółowość dotyczącą pokładu. Wydaje mi się, że ma to jednak więcej plusów, ponieważ ta zmienna będzie korzystniejsza dla modeli ML.

**Inżyniera cech - podział danych**

In [11]:
import pandas as pd
# podstawowe informacje o przetworzonych wcześniej danych
df['CabinReduced'].replace("n", np.nan, inplace=True) # zamiana n na Nan dla spojnosci danych
df.to_csv("titanic_clean.txt", sep="\t", index=False)
df.head(20)

C:\Users\jakub\AppData\Local\Temp\ipykernel_27644\4032776287.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CabinReduced'].replace("n", np.nan, inplace=True) # zamiana n na Nan dla spojnosci danych

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,CabinReduced
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",B
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",C
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",C
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,NaN,135,"Montreal, PQ / Chesterville, ON",C
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",C
5,1,1,"Anderson, Mr. Harry",male,48,0,0,19952,26.55,E12,S,3,NaN,"New York, NY",E
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY",D
7,1,0,"Andrews, Mr. Thomas Jr",male,39,0,0,112050,0,A36,S,NaN,NaN,"Belfast, NI",A
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53,2,0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY",C
9,1,0,"Artagaveytia, Mr. Ramon",male,71,0,0,PC 17609,49.5042,NaN,C,NaN,22,"Montevideo, Uruguay",NaN
10,1,0,"Astor, Col. John Jacob",male,47,1,0,PC 17757,227.525,C62 C64,C,NaN,124,"New York, NY",C
11,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18,1,0,PC 17757,227.525,C62 C64,C,4,NaN,"New York, NY",C
12,1,1,"Aubart, Mme. Leontine Pauline",female,24,0,0,PC 17477,69.3,B35,C,9,NaN,"Paris, France",B
13,1,1,"Barber, Miss. Ellen 'Nellie'",female,26,0,0,19877,78.85,NaN,S,6,NaN,NaN,NaN
14,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80,0,0,27042,30,A23,S,B,NaN,"Hessle, Yorks",A
15,1,0,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.925,NaN,S,NaN,NaN,"New York, NY",NaN
16,1,0,"Baxter, Mr. Quigg Edmond",male,24,0,1,PC 17558,247.5208,B58 B60,C,NaN,NaN,"Montreal, PQ",B
17,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50,0,1,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ",B
18,1,1,"Bazzani, Miss. Albina",female,32,0,0,11813,76.2917,D15,C,8,NaN,NaN,D
19,1,0,"Beattie, Mr. Thomson",male,36,0,0,13050,75.2417,C6,C,A,NaN,"Winnipeg, MN",C

In [12]:
df.describe(include='all')

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,CabinReduced
count,1309.000000,1309.000000,1309,1309,1046,1309.000000,1309.000000,1309,1308,295,1307,486,121,745,295
unique,NaN,NaN,1307,2,98,NaN,NaN,929,281,186,3,27,121,369,8
top,NaN,NaN,"Connolly, Miss. Kate",male,24,NaN,NaN,CA. 2343,8.05,C23 C25 C27,S,13,135,"New York, NY",C
freq,NaN,NaN,2,843,47,NaN,NaN,11,60,6,914,39,1,64,94
mean,2.294882,0.381971,NaN,NaN,NaN,0.498854,0.385027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.837836,0.486055,NaN,NaN,NaN,1.041658,0.865560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,3.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,3.000000,1.000000,NaN,NaN,NaN,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,3.000000,1.000000,NaN,NaN,NaN,8.000000,9.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# definiowanie zmiennych do analizy
col_name = ['cabin', 'CabinReduced', 'sex']
X = df[col_name]
y = df['survived']

In [15]:
# import biblioteki do podziału
from sklearn.model_selection import train_test_split

In [16]:
# podział danych na trening i test (argument stratify None)
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=105, stratify=None
)
print(X_train.shape, X_test.shape)
print(y_train.value_counts(normalize=True))
print(y_test.value_counts(normalize=True))

(1047, 3) (262, 3)
survived
0    0.621777
1    0.378223
Name: proportion, dtype: float64
survived
0    0.603053
1    0.396947
Name: proportion, dtype: float64

In [17]:
# podział danych na trening i test (argument stratify jako y)
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=105, stratify=y
)
print(X_train.shape, X_test.shape)
print(y_train.value_counts(normalize=True))
print(y_test.value_counts(normalize=True))

(1047, 3) (262, 3)
survived
0    0.617956
1    0.382044
Name: proportion, dtype: float64
survived
0    0.618321
1    0.381679
Name: proportion, dtype: float64

**Opis parametrów:**

test_size – określa rozmiar zbioru testowego. Może być liczbą zmiennoprzecinkową (procent) lub liczbą całkowitą (dokładna liczba próbek).

random_state – ustawia ziarno generatora liczb losowych. Dzięki temu podział danych będzie powtarzalny przy kolejnych uruchomieniach kodu.

stratify – określa zmienną, według której zachowywane będą proporcje klas w zbiorach treningowym i testowym. Domyślnie None (losowy podział). Jeśli ustawimy stratify=y, podział będzie proporcjonalny do klas w y, co jest szczególnie ważne przy nierównomiernie rozłożonych klasach.

In [18]:
# Sprawdzenie, czy rozkład wartości w kolumnach jest podobny w obu zbiorach
for col in col_name:
    print(f'\n{col}:')
    print('Train:')
    print(X_train[col].value_counts(normalize=True))
    print('Test:')
    print(X_test[col].value_counts(normalize=True))

cabin:
Train:
cabin
F2                 0.016807
F33                0.016807
B96 B98            0.016807
C23 C25 C27        0.016807
B57 B59 B63 B66    0.016807
                     ...
A10                0.004202
C132               0.004202
E12                0.004202
B80                0.004202
A31                0.004202
Name: proportion, Length: 162, dtype: float64
Test:
cabin
B51 B53 B55        0.035088
G6                 0.035088
C22 C26            0.035088
C89                0.035088
E121               0.035088
C23 C25 C27        0.035088
A36                0.017544
B18                0.017544
B101               0.017544
B73                0.017544
B22                0.017544
C78                0.017544
B20                0.017544
E10                0.017544
D20                0.017544
E34                0.017544
B57 B59 B63 B66    0.017544
C101               0.017544
B36                0.017544
B78                0.017544
C118               0.017544
F4                 0.017544
C93                0.017544
C125               0.017544
C103               0.017544
C55 C57            0.017544
C31                0.017544
E68                0.017544
E50                0.017544
C126               0.017544
C39                0.017544
D37                0.017544
C53                0.017544
B11                0.017544
B37                0.017544
A19                0.017544
C92                0.017544
E8                 0.017544
B26                0.017544
D34                0.017544
C46                0.017544
D                  0.017544
B82 B84            0.017544
D9                 0.017544
B38                0.017544
C95                0.017544
A34                0.017544
A16                0.017544
C116               0.017544
C128               0.017544
D50                0.017544
Name: proportion, dtype: float64

CabinReduced:
Train:
CabinReduced
C    0.302521
B    0.210084
D    0.168067
E    0.142857
F    0.084034
A    0.075630
G    0.012605
T    0.004202
Name: proportion, dtype: float64
Test:
CabinReduced
C    0.385965
B    0.263158
E    0.122807
D    0.105263
A    0.070175
G    0.035088
F    0.017544
Name: proportion, dtype: float64

sex:
Train:
sex
male      0.649475
female    0.350525
Name: proportion, dtype: float64
Test:
sex
male      0.622137
female    0.377863
Name: proportion, dtype: float64

Przez duża kardynalość cechy 'cabin' zdecydowałem się ją usunąć. Wiele wartości kabin występowało tylko w zbiorze testowym, przez co model nie miałby szans nauczyć się tych kategorii, więc przewidywania byłyby nierzetelne.

In [19]:
# Pominięcie kolumny 'cabin'
col_name = ['CabinReduced', 'sex']
X = df[col_name]
y = df['survived']

In [21]:
# ponowny podział danych bez kolumny 'cabin' na trening i test (argument stratify jako y)
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=105, stratify=y
)
print(X_train.shape, X_test.shape)
print(y_train.value_counts(normalize=True))
print(y_test.value_counts(normalize=True))

(1047, 2) (262, 2)
survived
0    0.617956
1    0.382044
Name: proportion, dtype: float64
survived
0    0.618321
1    0.381679
Name: proportion, dtype: float64

In [22]:
# ponowny podział danych bez kolumny 'cabin' na trening i test (argument stratify jako y)
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=105, stratify=y
)
print(X_train.shape, X_test.shape)
print(y_train.value_counts(normalize=True))
print(y_test.value_counts(normalize=True))

(1047, 2) (262, 2)
survived
0    0.617956
1    0.382044
Name: proportion, dtype: float64
survived
0    0.618321
1    0.381679
Name: proportion, dtype: float64

In [23]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
for col in col_name:
    encoder.fit(X_train[col].astype(str))
    X_train[col + '_map'] = encoder.transform(X_train[col].astype(str))
    X_test[col + '_map'] = encoder.transform(X_test[col].astype(str))

In [24]:
# wyświetlenie nowego X_traina
X_train.head(20)

     CabinReduced     sex  CabinReduced_map  sex_map
1203          NaN    male                 8        1
257             C  female                 2        0
1099          NaN  female                 8        0
145             D    male                 3        1
64              E    male                 4        1
477           NaN    male                 8        1
268             C    male                 2        1
1000          NaN    male                 8        1
528           NaN    male                 8        1
1135          NaN    male                 8        1
1303          NaN    male                 8        1
1109          NaN    male                 8        1
27              B  female                 1        0
444           NaN    male                 8        1
1278          NaN    male                 8        1
762           NaN    male                 8        1
1021          NaN    male                 8        1
34              D    male                 3        1
605             F    male                 5        1
817           NaN    male                 8        1

In [25]:
# wyświetlenie nowego X_testa
X_test.head(20)

     CabinReduced     sex  CabinReduced_map  sex_map
1074          NaN    male                 8        1
1305          NaN  female                 8        0
183             B    male                 1        1
130           NaN  female                 8        0
1138          NaN    male                 8        1
7               A    male                 0        1
50              B  female                 1        0
360           NaN    male                 8        1
661           NaN  female                 8        0
1290          NaN  female                 8        0
345           NaN    male                 8        1
602           NaN    male                 8        1
1155          NaN    male                 8        1
230             B  female                 1        0
825           NaN    male                 8        1
81              B    male                 1        1
1091          NaN  female                 8        0
855           NaN    male                 8        1
436           NaN  female                 8        0
1092          NaN    male                 8        1

Nowe kolumny _map zachowują oryginalne kolumny, dzięki czemu można je porównać przed i po kodowaniu.

    Po użyciu funkcji transform nasze zmienne kategoryczne zostały zakodowane za pomocą cyfr. W kolumnie 'CabinReduced' mieliśmy osiem możliwości: {'A', 'B', 'C', 'D', 'E', 'F', 'G', 'T', 'NaN'}, które w kolumnie 'CabinReduced_map' zostały zakodowane jako: -- {0, 1, 2, 3, 4, 5, 6, 7, 8}.
    Podobnie kolumna 'sex' miała dwie zmienne kategoryczne {'female', 'male'}, które w kolumnie 'sex_map' zostały zakodowane jako {0, 1}.

Kodowanie liczbowe ułatwia modelom uczenie się, bo wiele modeli (np. drzewa decyzyjne, regresja) nie pracuje bezpośrednio na stringach.

In [26]:
# sprawdzenie liczby brakujących wartości
print(X_train.isna().sum())
print(X_test.isna().sum())

CabinReduced        809
sex                   0
CabinReduced_map      0
sex_map               0
dtype: int64
CabinReduced        205
sex                   0
CabinReduced_map      0
sex_map               0
dtype: int64

In [27]:
# zastąpienie brakujących wartości zerami
X_train_fillna = X_train.copy()
X_test_fillna = X_test.copy()
X_train_fillna = X_train.fillna(0)
X_test_fillna = X_test.fillna(0)

In [28]:
# sprawdzenie liczby brakujących wartości
print(X_train_fillna.isna().sum())
print(X_test_fillna.isna().sum())

CabinReduced        0
sex                 0
CabinReduced_map    0
sex_map             0
dtype: int64
CabinReduced        0
sex                 0
CabinReduced_map    0
sex_map             0
dtype: int64



Inne metody imputacji brakujących wartości:

    fillna('brak danych') - zastępuje wartości NaN w kolumnie jako string 'brak danych'. Może być to przydatne dla zmiennych kategorycznych, gdy chcemy zachować informację o brakach danyuch jako osobną kategorię.

    SimpleImputer(strategy='most_frequent') - zastępuje wartości brakujące tą, która najczęściej wystepuje w danej kolumnie. Będzie działać zarówno dla zmiennych kategorycznych, jak i numerycznych.

    SimpleImputer(strategy='median') - zastępuje wartości brakujące medianą kolumny. Bardzo dobra metoda dla zmiennych liczbowych, gdy rozkład jest skośnych i chcemy uniknąć wpływu wartości odstających.

    KNNImputer - imputuje wartości odstające na podstawie najbliższych sąsiadów w przestrzeni cech. Porównywanie odbywa się na podstawie odległości w przestrzeni cech (np. odległość Euklidesowa). Brakująca wartość jest zastępowana wtedy średnią lub mediną wartości tej cechy wśród k najbliższych sąsiadów. Stosowany jest w kolumnach z brakami danych liczbowych.

    IterativeImputer - metoda iteracyjna, która przewiduje brakujące wartości jednej kolumny na podstawie pozostałych cech, powtarzając proces kilka razy.

In [29]:
# użycie SimpleImputera z 'most_frequent' dla testu
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='most_frequent')
X_train_SI = X_train.copy()
X_test_SI = X_test.copy()
X_train_SI['CabinReduced'] = imputer.fit_transform(X_train[['CabinReduced']]).ravel()
X_test_SI['CabinReduced'] = imputer.transform(X_test[['CabinReduced']]).ravel()

In [30]:
# sprawdzenie liczby brakujących wartości
print(X_train_SI.isna().sum())
print(X_test_SI.isna().sum())

CabinReduced        0
sex                 0
CabinReduced_map    0
sex_map             0
dtype: int64
CabinReduced        0
sex                 0
CabinReduced_map    0
sex_map             0
dtype: int64

In [31]:
# zastąpienie brakujących wartości zerami
X_train = X_train.fillna(0)
X_test = X_test.fillna(0)

In [32]:
print("Unikalne wartości przed kodowaniem:")
print("CabinReduced:", X_train['CabinReduced'].nunique())
print("Sex:", X_train['sex'].nunique())

Unikalne wartości przed kodowaniem:
CabinReduced: 9
Sex: 2

In [33]:
print("\nUnikalne wartości po kodowaniu:")
print("CabinReduced_map:", X_train['CabinReduced_map'].nunique())
print("Sex_map:", X_train['sex_map'].nunique())

Unikalne wartości po kodowaniu:
CabinReduced_map: 9
Sex_map: 2

In [34]:
print("\nWartości przed kodowaniem:")
print("CabinReduced:", X_train['CabinReduced'].unique())
print("Sex:", X_train['sex'].unique())

print("\nWartości po kodowaniu:")
print("CabinReduced_map:", X_train['CabinReduced_map'].unique())
print("Sex_map:", X_train['sex_map'].unique())

Wartości przed kodowaniem:
CabinReduced: [0 'C' 'D' 'E' 'B' 'F' 'A' 'G' 'T']
Sex: ['male' 'female']

Wartości po kodowaniu:
CabinReduced_map: [8 2 3 4 1 5 0 6 7]
Sex_map: [1 0]

Liczba unikalnych wartości przed i po kodowaniu jest identyczna, co jest logiczne, ponieważ każdą zmienną kategoryczną zakodowaliśmy za pomocą cyfr.

**Reprezentatywność zbiorów treningowego i testowego**

    Zbiory powinny być podobnie rozłożone pod względem cech i wartości docelowej, aby model uczył się na danych reprezentatywnych i wyniki były rzetelne.

    Jeżeli niektóre kategorie w zbiorze testowym nie występują w treningowym, model może mieć problem z poprawną predykcją.

**Wpływ imputacji braków i kodowania**

    Imputacja braków pozwala wykorzystać wszystkie dane, zamiast usuwać obserwacje z brakami, co zwiększa reprezentatywność danych.

    Kodowanie zmiennych kategorycznych pozwala modelom pracować z danymi liczbowymi.

    Liczba unikalnych kategorii powinna być zachowana po kodowaniu, aby nie wprowadzać nowych wartości ani nie gubić informacji.

**Znaczenie stratyfikacji przy podziale danych**

Stratyfikacja (stratify=y) zapewnia, że proporcje klas w zmiennej docelowej są zachowane w zbiorze treningowym i testowym. Dzięki temu model nie będzie uczył się na nierównomiernie reprezentowanych klasach, co poprawia jakość predykcji, szczególnie przy niezbalansowanych zbiorach.